<mat-toolbar color="primary">
  Its Simple if wannna do it
</mat-toolbar>
<div class="basic-container" (click)="openNotifications()">
  <span class="bell-icon"
    ><span class="notify">15</span>
    <mat-icon matBadgeSize="large">notifications</mat-icon>
  </span>
  <!-- <p>
		<button mat-button (click)="openNotifications()">Open Dialog</button>
	</p> -->
  <span class="version-info">Current build: {{ version.full }}</span>
</div>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
